/**
 * $Id$
 * @file
 * Some common WordPress content CSS.
 */

.node img {
  background: white;
  border: 1px solid #DDD;
  padding: 4px;
}

.node img.alignleft {
  float: left;
  margin: 5px 10px 0 0;
}

.node img.alignright {
  float: right;
  margin: 5px 0 0 10px;
}

.caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}